* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
}
span {
  margin-left: 10px;
}
.light-colored {
  opacity: 0.7;
}
body {
  background: url(./assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  width: 80%;
  height: 100vh;
  background-size: cover;
  padding: 40px 40px 0px 40px;
  overflow: hidden;
  position: relative;
}
header {
  display: flex;
  justify-content: space-between;
  height: 85px;
  width: 100vw;
}
header #logo {
  align-self: center;
  width: 55px;
  height: 55px;
}
header .line {
  width: 40%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
  align-self: center;
  position: relative;
  left: 35px;
}
header ul {
  width: 70%;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 80px;
}

header ul li {
  /* backdrop-filter: blur(10px); */
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  list-style: none;
  height: 100%;
  padding: 30px 0px;
}
header ul .active {
  border-bottom: 3px solid white;
  color: white;
}
header ul li:hover {
  border-bottom: 4px solid rgb(161, 161, 161);
}
main {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  width: 100vw;
  position: absolute;
  bottom: 0px;
}
.left,
.right {
  /* background: red; */
  width: 45%;
  display: block;
  position: relative;
}
.right img {
  position: absolute;
  bottom: 0px;
}
.left h3 {
  margin: 40px 0px;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 3px;
}
.left h2 {
  margin-top: 150px;
  text-transform: uppercase;
  font-size: 35px;
  color: #7c7b7b;
  font-weight: 100;
}
.left h1 {
  margin-top: 20px;
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 100;
  /* letter-spacing: 3px; */
}
.left .info {
  margin-top: 20px;
  font-size: large;
  line-height: 1.5em;
  color: #d0d6f9;
  width: 420px;
}
.left .bottom {
  margin: 100px 0px;
  width: 25%;
  display: flex;
  justify-content: space-between;
}
.left .bottom button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(117, 114, 114);
}
.left .bottom .active {
  background: white;
}

/* main .right img {
  position: absolute;
  bottom: 0%;
  /* align-items: center; */
/* bottom: 100px; */
